.jumbotron {
    background-image: url(../img/pizza.png);
    background-size: cover;
}

.jumbotron h1 {
    background-color: white;
    opacity: 0.5;
    width: 100%;

}

select {
    width: 100%;
    /*border: 1px solid black;*/
}

label select {
    width: 100%;
}

@media screen and (min-width:0px) and (max-width: 500px){
    .jumbotron {
        display:none;
    }

    h1{
        display: none;
    }
}