body{
    background-color: powderblue;
    color: darkslateblue;
    font-family: "American Typewriter";
    font-weight: lighter;
}

header h1{
    text-align: center;
    color: darkblue;
    background-color: white;
    text-shadow: 2px 2px orchid;
    border-radius: 15px;
}

h2{
    color:mediumseagreen;
    font-weight: lighter;
}


img{
    transform: rotate(17deg);

}

section:first-child ul{
    text-decoration: underline;
}

ol{
    background-color: azure;
}

section:nth-child(5) h2 {
    text-align: center;
}

section:nth-of-type(2) h2{
    margin-bottom: -16px;
    background-color: azure;
}